# kickstart generator
install
url --url={{.Mirror}}

rootpw --iscrypted {{.Password}}

network --onboot yes --device eth0 --mtu=1500 --bootproto static --ip {{.Ipaddr}} --netmask {{.Netmask}} --gateway {{.Gateway}} --nameserver {{.Nameserver}} {{if .Hostname}}--hostname {{.Hostname}}{{end}}
auth --useshadow --passalgo=sha512 --enablefingerprint
text
keyboard us
lang en_US
selinux --disabled
firewall --disabled
{{if ge .Version 7.0}}eula --agreed{{end}}
skipx
logging --level=info
timezone --utc Etc/GMT

zerombr
clearpart --all

part / --fstype={{.Fstype}} --size=1 --grow --ondisk={{.Ondisk}} --asprimary
{{if .Offdisk}}part /data --fstype={{.Fstype}} --size=1 --grow --ondisk={{.Offdisk}}{{end}}
bootloader --location=mbr --driveorder={{.Ondisk}} --append="crashkernel=auto rhgb quiet"
firstboot --disable
reboot

%pre
#/bin/sh
touch /tmp/part.cfg
%end

%packages
@base
@core
{{if ge .Version 7.0}}%end{{end}}

%post
/usr/sbin/pwconv
%end