# kickstart generator
install
url --url={{index .QueryData "mirror"}}

rootpw --iscrypted {{index .QueryData "password"}}

network --onboot yes --device eth0 --mtu=1500 --bootproto static --ip {{index .QueryData "ipaddr"}} --netmask {{index .QueryData "nm"}} --gateway {{index .QueryData "gw"}} --nameserver {{index .QueryData "ns"}} --hostname {{index .QueryData "hn"}}
auth --useshadow --passalgo=sha512 --enablefingerprint
text
keyboard us
lang en_US
selinux --disabled
firewall --disabled
{{if ge (index .QueryData "version" | Atof) 7.0}}eula --agreed{{end}}
skipx
logging --level=info
timezone --utc Etc/GMT

zerombr
clearpart --all

part / --fstype={{index .QueryData "fstype"}} --size=1 --grow --ondisk={{index .QueryData "ondisk"}} --asprimary
{{if index .QueryData "offdisk"}}part /data --fstype={{index .QueryData "fstype"}} --size=1 --grow --ondisk={{index .QueryData "offdisk"}}{{end}}
bootloader --location=mbr --driveorder={{index .QueryData "ondisk"}} --append="crashkernel=auto rhgb quiet"
firstboot --disable
reboot

%pre
#/bin/sh
touch /tmp/part.cfg
%end

%packages
@base
@core
{{if ge (index .QueryData "version" | Atof) 7.0}}%end{{end}}

%post
/usr/sbin/pwconv
%end